In [1]:
import numpy as np
numbers = np.array([1, 4, 9, 16, 25, 36])
np.sqrt(numbers)

array([1., 2., 3., 4., 5., 6.])

In [2]:
numbers2 = np.arange(1,7) * 10
numbers2

array([10, 20, 30, 40, 50, 60])

In [3]:
np.add(numbers, numbers2)

array([11, 24, 39, 56, 75, 96])

In [4]:
np.multiply(numbers2, 5)

array([ 50, 100, 150, 200, 250, 300])

In [5]:
numbers3 =numbers2.reshape(2,3)
numbers3

array([[10, 20, 30],
       [40, 50, 60]])

In [6]:
numbers4 = np.array([1 , 2, 3])
np.multiply(numbers3, numbers4)

array([[ 10,  40,  90],
       [ 40, 100, 180]])

In [7]:
import math
math.pi

3.141592653589793

In [11]:
import math
math.fabs(98.6)
math.factorial(0)

1

In [22]:
 math.log(8, 2)

3.0

In [26]:
import csv
villains = [     
    ['Doctor', 'No'],     
    ['Rosa', 'Klebb'],     
    ['Mister', 'Big'],     
    ['Auric', 'Goldfinger'],     
    ['Ernst', 'Blofeld'],     
    ]
with open('villains', 'wt') as fout:  # a context manager
    csvout = csv.writer(fout)
    csvout.writerows(villains)
    
#save as CSV file

In [ ]:
import sqlite3
conn = sqlite3.connect('enterprise.db')
 curs = conn.cursor()
 curs.execute('''CREATE TABLE zoo    
 (critter VARCHAR(20) PRIMARY KEY,   
    count INT,  
    damages FLOAT)''')
<sqlite3.Cursor object at 0x1006a22d0>